
.wallpaper {
  height: 200px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnvuVC4YRjCakXjvVk-fpHRmCNDvdpV2jdLp2cGVu8OMo77bQy);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.info_acount {
  padding: 20px;
}

.profile_photo {
  display: block;
  width: 100px;
  float: left;
  margin-right: 60px;
}

.name_details {
  font-weight: bold;
  margin-bottom: 20px;
}

.profile_details {
  display: inline-block;
}

.list_details span {
  padding-right: 5px;
}


.wrap_status {
  margin-bottom: 10px;
}

.wrap_status span {
  font-style: italic;
  font-weight: 500;
}

.changeColor {
  padding: 5px 3px;
  margin-bottom: 30px;
}

.changeColor .btnChangeColor {
  cursor: pointer;
  font-size: 23px;
  float: left;
  margin-right: 20px;
}


.wrap_colors {
}

.color_cub {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 2px;
  cursor: pointer;
}