.user_item {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin-bottom: 10px;
}

.wrap_avatar {
    display: inline-grid;
    justify-items: center;
    padding: 10px;
}

.wrap_avatar button {
    font-size: 14px;
    width: 80px;
    height: 25px;
    margin-top: 5px;
    padding: 0;
}

.wrap_info {
    display: grid;
    grid-template-columns: 8fr 4fr;
    border: 1px solid #6e6e6e;
    border-radius: 10px;
    padding: 10px;
    min-height: 80px;
}

.right_side {
    justify-self: right;
}

.left_side {
    display: grid;
}

.name {
    font-weight: bold;
    font-size: 17px;
}

.avatar {
    width: 50px;
}

.status {
    align-self: end;
}

.location {
    font-weight: bold;
}

span.active_page {
    font-weight: bold;
    background-color: #1890ff;
    border: 1px solid #1890ff;
    color: white;
}

.buttonPagination {
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid gray;
    border-radius: 50%;
    text-align: center;
    margin: 2px 2px 20px 2px;
}