.header {
  background-color: #262626;
  border-bottom: 3px solid #000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header .logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}

.loginBlock {
  justify-self: end;
  align-self: center;
  margin-right: 20px;
}