.header {
  background-color: #262626;
  height: 60px;
  border-bottom: 3px solid #000;
  grid-area: header;
}

.header .logo {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  cursor: pointer;
}