.nav_bar {
  background-color: #262626;
  margin-top: 10px;
  padding: 30px;
  min-height: 100%;
}

.nav_bar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_bar ul li {
  text-decoration: none;
  padding-bottom: 5px;
}

.nav_bar ul li a {
  text-decoration: none;
  color: white;
}

.nav_bar ul li a.active {
  color: #197ABC;
}

.friends {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
}

.nav_bar h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  margin-bottom: 15px;
}

.friend {
  text-align: center;
  transition: all 0.25s;
}

.friend:hover {
  background-color: #6B6F72;
}

.friend .name {
  color: white;
  font-weight: bold;
  font-size: 17px;
}
