.wrap_posts {
  margin-top: 65px;
}

.post {
  background-color: rgb(204, 204, 204);
  padding: 20px 15px;
  border-radius: 4px;
  margin-top: 10px;
}

.post .photo_profile {
  display: inline-block;
  width: 30px;
  float: left;
  margin-right: 15px;
}

.txt_post button {
  float: right;
  margin-top: -6px;
  padding: 0 10px;
}