html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

.App_Wrapper {
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 60px 1fr auto;

}

.wrap_content {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.content {
  min-height: 100%;
  padding: 20px;
}

.ant-avatar {
  color: white;
  background-color: black;
}

